<a href="{{ path('app_menu') }}"> Acceuil </a> <br>
{% if app.user == null %}
    <a href="{{ path('app_login') }}"> Me connecter </a> <br>
    <a href="{{ path('app_register') }}"> Me créer un compte </a> <br>
{% elseif app.user.roles == ['ROLE_CLIENT'] %}
    <a href="{{ path('app_logout') }}"> Me deconnecter </a> <br>
    <a href="{{ path('client_modifprofil') }}"> Modifier mon profil </a> <br>
    <a href="{{ path('client_listproduit') }}"> Liste des produits </a> <br>
    <a href="{{ path('client_panier') }}"> Mon panier </a> <br>
{% elseif app.user.roles == ['ROLE_ADMIN'] %}
    <p>Nombre d'articles dans le panier : {{ service.getArticlesDansPanier(app.user.id) }}</p>
    <a href="{{ path('app_logout') }}"> Me deconnecter </a> <br>
    <a href="{{ path('client_modifprofil') }}"> Modifier mon profil </a> <br>
    <a href="{{ path('client_listproduit') }}"> Liste des produits </a> <br>
    <a href="{{ path('client_panier') }}"> Mon panier </a> <br>
    <a href="{{ path('admin_listuser') }}"> Gérer les utilisateurs </a> <br>
    <a href="{{ path('admin_ajouterproduit') }}"> Ajouter un produit </a> <br>
    <a href="https://fr.wikipedia.org/wiki/Life Is Strange (jeu vid%C3%A9o)"> Life Is Strange </a> <br>
{% elseif app.user.roles == ['ROLE_SADMIN'] %}
    <a href="{{ path('app_logout') }}"> Me deconnecter </a> <br>
    <a href="{{ path('client_modifprofil') }}"> Modifier mon profil </a> <br>
    <a href="{{ path('sadmin_ajouteradmin') }}"> Ajouter un admin </a> <br>
{% endif %}