{% extends 'Layouts/layout.html.twig' %}
{% block stylesheets %} {{ parent() }} <link rel="stylesheet" type="text/css" href="{{ asset('/bienvenue.css') }}"/> {% endblock %}
{% block body %}
    <p> Bienvenue {% if app.user != null%}
            {{ app.user.roles | join(' ') }}
         {% if app.user.pays != null %}
        depuis le pays {{ app.user.pays.name }}
        {% endif %}
    {% else %}utilisateur anonyme{% endif %}! </p>
    {{ parent() }}
{% endblock %}